<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back_pause_screen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{644,964}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{644,964}}</string>
                <key>sourceSize</key>
                <string>{644,964}</string>
            </dict>
            <key>drawn_game.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,2},{362,272}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,11},{362,272}}</string>
                <key>sourceSize</key>
                <string>{388,296}</string>
            </dict>
            <key>game_over_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1522},{380,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,312}}</string>
                <key>sourceSize</key>
                <string>{380,312}</string>
            </dict>
            <key>menu_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,1442},{376,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{376,156}}</string>
                <key>sourceSize</key>
                <string>{376,156}</string>
            </dict>
            <key>menu_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,1284},{376,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{376,156}}</string>
                <key>sourceSize</key>
                <string>{376,156}</string>
            </dict>
            <key>pause_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,968},{380,552}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,552}}</string>
                <key>sourceSize</key>
                <string>{380,552}</string>
            </dict>
            <key>replay_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,1126},{376,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{376,156}}</string>
                <key>sourceSize</key>
                <string>{376,156}</string>
            </dict>
            <key>replay_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,968},{376,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{376,156}}</string>
                <key>sourceSize</key>
                <string>{376,156}</string>
            </dict>
            <key>resume_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,1836},{376,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{376,156}}</string>
                <key>sourceSize</key>
                <string>{376,156}</string>
            </dict>
            <key>resume_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1836},{376,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{376,156}}</string>
                <key>sourceSize</key>
                <string>{376,156}</string>
            </dict>
            <key>you_louse.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,578},{268,266}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{268,266}}</string>
                <key>sourceSize</key>
                <string>{296,292}</string>
            </dict>
            <key>you_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,276},{324,300}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,29},{324,300}}</string>
                <key>sourceSize</key>
                <string>{356,348}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pauseScreenAtl-hd.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:26a7ae3448d250389f2e52024abc52af$</string>
            <key>textureFileName</key>
            <string>pauseScreenAtl-hd.png</string>
        </dict>
    </dict>
</plist>
