<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back_pause_screen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{324,484}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,484}}</string>
                <key>sourceSize</key>
                <string>{324,484}</string>
            </dict>
            <key>drawn_game.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,238},{184,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{184,138}}</string>
                <key>sourceSize</key>
                <string>{196,150}</string>
            </dict>
            <key>game_over_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,282},{192,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,158}}</string>
                <key>sourceSize</key>
                <string>{192,158}</string>
            </dict>
            <key>menu_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,248},{190,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,80}}</string>
                <key>sourceSize</key>
                <string>{190,80}</string>
            </dict>
            <key>menu_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,378},{190,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,80}}</string>
                <key>sourceSize</key>
                <string>{190,80}</string>
            </dict>
            <key>pause_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{192,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,278}}</string>
                <key>sourceSize</key>
                <string>{192,278}</string>
            </dict>
            <key>replay_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,166},{190,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,80}}</string>
                <key>sourceSize</key>
                <string>{190,80}</string>
            </dict>
            <key>replay_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,84},{190,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,80}}</string>
                <key>sourceSize</key>
                <string>{190,80}</string>
            </dict>
            <key>resume_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,2},{190,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,80}}</string>
                <key>sourceSize</key>
                <string>{190,80}</string>
            </dict>
            <key>resume_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{190,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,80}}</string>
                <key>sourceSize</key>
                <string>{190,80}</string>
            </dict>
            <key>you_louse.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,84},{136,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{136,134}}</string>
                <key>sourceSize</key>
                <string>{150,148}</string>
            </dict>
            <key>you_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,84},{164,152}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,14},{164,152}}</string>
                <key>sourceSize</key>
                <string>{180,176}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pauseScreenAtl.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:21913d44d8da31b2420847987848a2c1$</string>
            <key>textureFileName</key>
            <string>pauseScreenAtl.png</string>
        </dict>
    </dict>
</plist>
